     body {
         
        color: white;
        font-size: 11pt;
        font-family: Verdana,Helvetica,Arial,sans-serif;
        background-image:url('http://pbrd.co/1njjdKf');
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-color:#cccccc;
        }
