     body {
         
        color: white;
        font-size: 11pt;
        font-family: Verdana,Helvetica,Arial,sans-serif;
        background-image:url('https://gm1.ggpht.com/ngFOIX0d4MFpD0_7oL1i-RUWlxEpKvFZoAEJSSHeGy05pGl_2MJyOGWE_SEssK3yBPDk8XcaL83RoNyyvPmwozi9M7hloYGmgFCPZhfqQgkBCAaiKhJXQdjy68Qp_mEF2fdQs1pHWkpHxRRSWFkwJUIX-6NabvHJpKUsrWTMhtHdLPKqQI0r0bHid0HxMPF6e8H8rXOGH4fE2_E7qqGVjtZTVjaDuiJDKLiRCqOGI8e7k6dOhadT6Qol6v6wn_9JHerzmXoxqXPb07ODaJJQeoD-RttK6qZDNpajlXLYGFmqibE8T9vJIUp7QRs_XNm0qU5i0qwnYxE5brQUtnLHRz5pRiqw7mnBOsTrUTxHRimBKmnlYvTR4J_oocFuSyVW2pZ9yjvgvDdVhcF3IiDqrChKHA33jzs1ZHWwVroqL6YxNhRppP2-3sVH2tLGO0FskFbAMfH0TS1B0tz3Vlze7h8W5Z7W6x4ACzZGqKULQgbC6RCoPOui4oFKzIjZuF-1MRdIIIFPFich4HmItoAo1l48WS9IDcn7nWw=w1243-h506-l75');
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-color:#cccccc;
        }
